<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App.LinqToSql.Properties.Settings.WindowsFormsDemoConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=WindowsFormsDemo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>